<section class="content-about">

  <div class="about-main">
    <div class="about-content">
    	<p><strong>Hallo, welcome to Code-Chatter.</strong><br>
      <br> Code-Chatter is a blog page for like-minded web designers. Here we talk about web design in general, we share tutorials or explain concepts regarding web design that is of interest to our daily design processes. Here you can also share on how to cope with any challenges regarding coding, designing or dealing with clients.<br>
      <br>We try to keep this light hearted and try not to get too serious about any topic. If you leave any comments please be nice - we don't tolerate bad language or bad behaviour.<br>
      <br>If you have blogs to share please head over to the contact page and leave a message and our dedicated blogs team will be in contact with you soon.<br>
      <br>Hope you enjoy this page as much as we do!
    	</p>
    </div>  <!-- end content-->
   </div>  <!--end container about -->
</section> <!-- end about section -->
